body {
  font-family: 'Google Sans', sans-serif;
  font-weight: 500;
  margin: 50px;
}

button {
  background-color: #eee;
  border: 1px solid #ccc;
  color: #444;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 0 auto;
  padding: 5px; 
}

button:hover {
  background-color: #ccc;
  color: black;
}

input {
  margin: 0 auto 20px auto;
  max-width: 500px;
  padding: 7px 5px;
  width: 100%;
}

input[type=email]:not(:placeholder-shown):invalid {
  outline-color: red;
  outline-offset: -2px;
  outline-style: auto;
}



label {
  display: inline-block;
  width: 80px;
}
