body {
  align-items: center;
  background: #fafafa;
  display: flex;
  height: 100%;
  justify-content: center;
}

html {
  height: 100%;
}

input {
  background: white;
  border-radius: 5px;
  border-width: 5px;
  font-size: 100px;
  font-family: Google Sans;
  padding: 20px 40px;
}

input::placeholder {
  color: #ccc;
}
