body {
  margin: 10px;
}

form  {
  margin: 0 auto;
  max-width: calc(100% - 100px);
}

input {
  display: block;
  margin: 0 0 20px 0;
  padding: 10px;
  width: 100%;
}

button {
  padding: 10px;
  font-size: 20px;
}

@media (min-width: 450px) {
body {
  margin: 50px;
}
  button {
    font-size: 13px;
  }
  input {
    font-size: 13px;
  }
}
